<div class="row">
  <div class="col">
    <h1>Editing Criteria Definition</h1>

    <%= render 'form', criteria_definition: @criteria_definition %>

    <%= link_to 'Show', @criteria_definition %> |
    <%= link_to 'Back', criteria_definitions_path %>
  </div>
</div>
