<div class="row">
  <div class="col">
    <% if @product_route.destination.blank? %>
      <div>No routes found</div>
    <% else %>
      <div><%= @product_route.product_reference %> -> <%= @product_route.destination %></div>

      <% @product_route.route_definitions.each do |definition| %>
        <div>
          <%= definition.to_s %>
        </div>
      <% end %>
    <% end %>

    <%= link_to 'Back', product_routes_path %>
  </div>
</div>
